<% pageTitle = 'یافت نشد' %>
<%- include('partials/header') %>
<div class="container">
  <div class="result-box">
    <h2>صفحه پیدا نشد</h2>
    <p>لینکی که دنبال کردید معتبر نیست.</p>
    <a href="/" class="btn btn-primary">بازگشت به فروشگاه</a>
  </div>
</div>
<%- include('partials/footer') %>
